@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: 'Inter, sans-serif';
    @apply text-[32px];
  }
  h2 {
    font-family: 'Inter, sans-serif';
    @apply text-[24px];
  }
  h3 {
    font-family: 'Inter, sans-serif';
    @apply text-[20px] font-extrabold text-grey-200;
  }
  h4 {
    font-family: 'Inter, sans-serif';
    @apply text-[14px] font-semibold text-grey-300;
  }
  h5 {
    font-family: 'Inter, sans-serif';
    @apply text-[12px] font-normal text-grey-500;
  }
  h6 {
    font-family: 'Inter, sans-serif';
    @apply text-[10px] text-grey-700;
  }
}

@layer components {
  .dashboard-box {
    @apply rounded-2xl bg-background-light shadow-[0.15rem_0.2rem_0.15rem_0.1rem_rgba(0,0,0,0.8)];
  }
}

@layer utilities {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .grid-template-large-screens {
    grid-template-areas:
      'a b c'
      'a b c'
      'a b c'
      'a b f'
      'd e f'
      'd e f'
      'd h i'
      'g h i'
      'g h j'
      'g h j';
  }
  .grid-template-small-screens {
    grid-template-areas:
      'a'
      'a'
      'a'
      'a'
      'b'
      'b'
      'b'
      'b'
      'c'
      'c'
      'c'
      'd'
      'd'
      'd'
      'e'
      'e'
      'f'
      'f'
      'f'
      'g'
      'g'
      'g'
      'h'
      'h'
      'h'
      'h'
      'i'
      'i'
      'j'
      'j';
  }
  .grid-area-a {
    grid-area: a;
  }
  .grid-area-b {
    grid-area: b;
  }
  .grid-area-c {
    grid-area: c;
  }
  .grid-area-d {
    grid-area: d;
  }
  .grid-area-e {
    grid-area: e;
  }
  .grid-area-f {
    grid-area: f;
  }
  .grid-area-g {
    grid-area: g;
  }
  .grid-area-h {
    grid-area: h;
  }
  .grid-area-i {
    grid-area: i;
  }
  .grid-area-j {
    grid-area: j;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242427;
  }

  ::-webkit-scrollbar-thumb {
    background: #48494e;
  }

  ::-webkit-scrollbar-track:hover {
    background: #2a2b2f;
  }
}
