@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: 'Inter, sans-serif';
    @apply text-[32px];
  }
  h2 {
    font-family: 'Inter, sans-serif';
    @apply text-[24px];
  }
  h3 {
    font-family: 'Inter, sans-serif';
    @apply text-grey-200 text-[20px] font-extrabold;
  }
  h4 {
    font-family: 'Inter, sans-serif';
    @apply text-grey-300 text-[14px] font-semibold;
  }
  h5 {
    font-family: 'Inter, sans-serif';
    @apply text-grey-500 text-[12px] font-normal;
  }
  h6 {
    font-family: 'Inter, sans-serif';
    @apply text-grey-700 text-[10px];
  }
}
